
<header>


    <div class="caixa">

        <h1><img src="assets/Logo.png" class="Logo"></h1>

        <nav>


            <ul>


               
                <li><a href="Produtos.html">Produtos</a></li>
                <li><a href="Contato.html">Contato</a></li>
                <li><a href="Contato.html">Fotos</a></li>
                <li><a href="Contato.html"> Quem somos</a></li>
               
               
               




            </ul>



        </nav>

    </div>

</header>


