<main>

    <section class="formulario">



        <form>

            <labeL for="nome">Nome:</labeL>
            <input type="text" id="nome" class="input-padrao" required>
            <labeL for="sobrenome">Sobrenome:</labeL>
            <input type="text" id="sobrenome" class="input-padrao" required>
            <labeL for="telefone">Telefone:</labeL>
            <input type="number" id="telefone" class="input-padrao" required>



        </form>

        <input type="button" class="botao" value="Enviar" onclick="Enviar()">

    </section>





</main>


<script>









</script>
